#ace_editor{
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  font-size: 12pt;
}

#latex_output{
  box-sizing: border-box;
  background: #002b36;
  color: #93a1a1;
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 5em;
  width: 50%;
  border-left: 1px dashed #586e75;
}
